#app {
  height: 100%;
}

#nonsidebar {
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sidebaractive {
  margin-left: 300px
}
