#app {
  height: 100%;
}

#nonsidebar {
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sidebaractive {
  margin-left: 300px
}

/* #icons {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
} */

@media (max-width: 700px) {
  .sidebaractive {
    margin-top: 100px;
    margin-left: 0px
  }

  .container {
    display: inline-flex !important;
    width: auto;
    padding: 0px;
    margin: 0px !important;
  }

  .container p {
    width: 118px !important;
    font-size: 10px;
  }

  .Tilt {
    padding: 0 !important;
    width: 118px !important;
    height: 70px !important;
  }

  /* #icons {
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    align-self: center;
    width: 100vw;
  }

  #icons .icon {
    width: 28px;
    height: 28px
  } */

}
