.body {
  height: 100%;
  position: fixed;
  font-family: "Poppins", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.8;
  font-weight: normal;
  background: #fff;
  color: gray; }

a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  color: #2f89fc; }
  a:hover, a:focus {
    text-decoration: none !important;
    outline: none !important;
    -webkit-box-shadow: none;
    box-shadow: none; }

button {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }
  button:hover, button:focus {
    text-decoration: none !important;
    outline: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important; }

h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
  line-height: 1.5;
  font-weight: 400;
  font-family: "Poppins", Arial, sans-serif;
  color: #000; }

.img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

.wrapper {
  width: 100%;
  height: 100%;
}

#sidebar {
  height: 100%;
  margin-left: -300px;
  min-width: 300px;
  max-width: 300px;
  background: #32373d;
  color: #fff;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  position: relative; }
  #sidebar .h6 {
    color: #fff; }
  #sidebar.active {
    margin-left: 0px; }
    #sidebar .custom-menu {
      margin-right: -100px; }
    #sidebar.active .btn.btn-primary:before {
      content: "\f054";
      font-family: "FontAwesome";
      left: 2px !important; }
    #sidebar.active .btn.btn-primary:after {
      display: none; }
  #sidebar h1 {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 20px; }
    #sidebar h1 .logo {
      color: #fff;
      display: block;
      padding: 10px 30px;
      background: #2f89fc; }
  #sidebar ul.components {
    padding: 0; }
  #sidebar ul li {
    font-size: 16px; }
    #sidebar ul li > ul {
      margin-left: 10px; }
      #sidebar ul li > ul li {
        font-size: 14px; }
    #sidebar ul li a {
      padding: 15px 30px;
      display: block;
      color: rgba(255, 255, 255, 0.6);
      border-bottom: 1px solid rgba(255, 255, 255, 0.05); }
      #sidebar ul li a span.notif {
        position: relative; }
        #sidebar ul li a span.notif small {
          position: absolute;
          top: -3px;
          bottom: 0;
          right: -3px;
          width: 12px;
          height: 12px;
          content: '';
          background: red;
          border-radius: 50%;
          font-family: "Poppins", Arial, sans-serif;
          font-size: 8px; }
      #sidebar ul li a:hover {
        color: #fff;
        background: #2f89fc;
        border-bottom: 1px solid #2f89fc; }
    #sidebar ul li.active > a {
      background: transparent;
      color: #fff; }
      #sidebar ul li.active > a:hover {
        background: #2f89fc;
        border-bottom: 1px solid #2f89fc; }
  @media (max-width: 991.98px) {
    #sidebar {
      margin-left: -300px; }
      #sidebar.active {
        margin-left: 0; }
      #sidebar .custom-menu {
        margin-right: -120px !important;
        top: 10px !important; } }
  #sidebar .custom-menu {
    display: inline-block;
    position: absolute;
    top: 20px;
    right: 0;
    margin-right: -70px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
    @media (prefers-reduced-motion: reduce) {
      #sidebar .custom-menu {
        -webkit-transition: none;
        -o-transition: none;
        transition: none; } }
    #sidebar .custom-menu .btn.btn-primary {
      background: #2f89fc;
      border-color: transparent;
      position: relative;
      color: #000;
      width: 30px;
      height: 30px; }
      #sidebar .custom-menu .btn.btn-primary:after, #sidebar .custom-menu .btn.btn-primary:before {
        position: absolute;
        top: 2px;
        left: 0;
        right: 0;
        bottom: 0;
        font-family: "FontAwesome";
        color: #fff; }
      #sidebar .custom-menu .btn.btn-primary:after {
        content: "\f053";
        right: 2px; }

.bg-wrap {
  width: 100%;
  position: relative;
  z-index: 0; }
  .bg-wrap:after {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    background: #000;
    opacity: .3; }
  .bg-wrap .user-logo .img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 10px; }
  .bg-wrap .user-logo h3 {
    color: #fff;
    font-size: 18px; }

a[data-toggle="collapse"] {
  position: relative; }

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

@media (max-width: 991.98px) {
  #sidebarCollapse span {
    display: none; } }

#content {
  width: 100%;
  padding: 0;
  min-height: 100%;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

.btn.btn-primary {
  background: #2f89fc;
  border-color: #2f89fc; }
  .btn.btn-primary:hover, .btn.btn-primary:focus {
    background: #2f89fc !important;
    border-color: #2f89fc !important; }

.footer p {
  color: rgba(255, 255, 255, 0.5); }

.form-control {
  height: 40px !important;
  background: #fff;
  color: #000;
  font-size: 13px;
  border-radius: 4px;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: transparent; }
  .form-control:focus, .form-control:active {
    border-color: #000; }
  .form-control::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: rgba(255, 255, 255, 0.5); }
  .form-control::-moz-placeholder {
    /* Firefox 19+ */
    color: rgba(255, 255, 255, 0.5); }
  .form-control:-ms-input-placeholder {
    /* IE 10+ */
    color: rgba(255, 255, 255, 0.5); }
  .form-control:-moz-placeholder {
    /* Firefox 18- */
    color: rgba(255, 255, 255, 0.5); }

.subscribe-form .form-control {
  background: #4897fc; }

.custom-menu {
  margin-top: 50vh
}
